<mat-list>
  <mat-list >
        <mat-list-item

        class="lsit-element" *ngFor="let product of products; let i = index;"
         [ngStyle]="{'background-color': (i % 2) ? 'Ivory' : 'LightGray'}"
        >

          <button
          [ngStyle]="{'text-decoration': (product.checked) ? 'line-through' : 'none'}"
          class="button-list-item"
          mat-button [disabled]="!!show.length" *ngIf="!show[product.id]" (click)="change(product.id)">
          {{ product.title }}     {{ product.amount }}
           </button>

           <span class="spacer"></span>

          <app-edit-product *ngIf="show[product.id]" [product]="product" (cancel)="show=$event">
          </app-edit-product>


          <div fxLayout="raw">
                <button mat-button [disabled]="!!show.length" (click)="setProduct(product)">
                 {{ product.checked ? "Куплено" : "Не куплено" }}
                </button>
                <button mat-button [disabled]="!!show.length" (click)="delProduct(product)">
                  Удалить
                </button>
          </div>


        </mat-list-item>
</mat-list>

