<mat-list fxLayout="column"  fxLayoutAlign="center center">
  <mat-list-item class="lsit-element" *ngFor="let list of lists; let i = index;"
    [ngStyle]="{'background-color': list.color}">

    <div fxLayout="raw" fxFlexFill >
            <div fxFlex="50%" fxLayout="raw" fxLayoutAlign="center center" *ngIf="!show[list.id]">
                <button class="button-list-item" mat-button [disabled]="!!show.length" [routerLink]="['products', list.id]">
                  {{ list.title }}
                </button>

            </div>

            <div fxFlex="100%" fxLayout="raw" fxLayoutAlign="center center" *ngIf="show[list.id]">
                <app-edit-list  [list]="list" (cancel)="show=$event"></app-edit-list>
            </div>
                <!-- <span class="spacer"></span> -->

            <div fxFlex="50%" fxLayout="raw">
                  <button mat-button [disabled]="!!show.length" (click)="change(list.id)">
                    Изменить
                  </button>
                  <button mat-button [disabled]="!!show.length" [routerLink]="['share', list.id]">
                    Поделиться
                  </button>
                  <button mat-button [disabled]="!!show.length" (click)="delList(list.id)">
                    Удалить
                  </button>
             </div>
    </div>

  </mat-list-item>
</mat-list>
