<form  fxLayout="raw"
novalidate #editForm="ngForm" (ngSubmit)="confirmEdit()">
<!-- <mat-form-field appearance="outline"> -->
    <input type="text" [(ngModel)] = "newList.title" name="title" required>
<!--  </mat-form-field> -->
<!-- <mat-form-field appearance="fill"
[ngStyle]="{'background-color': newList.color}"
> -->
  <!-- <mat-label>Цвет списка</mat-label> -->
  <mat-select [(ngModel)]="newList.color" name="color" #color="ngModel" value="white"
  [ngStyle]="{'background-color': newList.color}"
  >
    <mat-option value="LightCoral"
    [ngStyle]="{'background-color': 'LightCoral'}"
    >

    </mat-option>
    <mat-option value="Gold"
    [ngStyle]="{'background-color': 'Gold'}"
    >

    </mat-option>
    <mat-option value="PaleGreen"
    [ngStyle]="{'background-color': 'PaleGreen'}">

    </mat-option>
    <mat-option value="white">

    </mat-option>
  </mat-select>
<!-- </mat-form-field> -->
  <button [disabled]="editForm.form.invalid" mat-button >OK</button>
  <button mat-button (click)="cancelEdit()">Отменить</button>
</form>
